:root {
  --deepBlue: #003c53;
    --deepCurrent: #006D77;
    --mintyFresh: #83C5BE;
    --iceBlue: #EDF6F9;
    --white: #FFFFFF;
    --black: #000000;
    --sunrise: #FFDDD2;
    --tangerine: #E29578;
    --mikado: #fec601;
    --red: #FF0000;

  }